<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.gzhz.manage.dao.MenuViewMapper">

	<!-- 查询 -->
	<select id="search" parameterType="java.lang.String" resultType="org.gzhz.manage.bean.MenuView">
		select * from MENU_VIEW where emp_id=#{emp_id}
	</select>

</mapper>