<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.gzhz.manage.dao.RoleMenuMapper">

	<!-- 根据角色ID查询对应菜单关系  -->
	<select id="searchRoleMenu" resultType="org.gzhz.manage.bean.RoleMenu">
		select * from ROLE_MENU_TB where role_id=#{role_id}
	</select>
	
	<!-- 批量删除角色-菜单对应关系 -->
    <delete id="deleteRoleMenu" parameterType="java.lang.String">
        delete from ROLE_MENU_TB where role_id=#{role_id}
    </delete>
		
		<!-- 批量增加角色-菜单对应关系  备份-->
		<insert id="updateRoleMenu1" parameterType="org.gzhz.manage.bean.RoleMenu">
			<selectKey keyProperty="role_menu_id" order="BEFORE" resultType="int">
		    	select SEQUENCE_ROLE_MENU_TB.nextval from dual 
			</selectKey>	
			insert into ROLE_MENU_TB values(#{role_menu_id},#{role_id},#{menu_id}) 
		</insert>
</mapper>