<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.gzhz.park.dao.ICarInfoDao">
<!-- 	停车场数据表加入车辆 -->
	<insert id="partAddCar" parameterType="org.gzhz.park.bean.CarInfo" >
		<selectKey keyProperty="car_park_id" order="BEFORE" resultType="java.lang.Integer">
			select SEQUENCE_CAR_PARK_INFO_TB.nextval from dual
		</selectKey>
		insert into CAR_PARK_INFO_TB values(
		#{car_park_id},
		#{car_park_license,jdbcType=VARCHAR},
		#{car_in_time,jdbcType=VARCHAR},
		#{car_park_type,jdbcType=NUMERIC},
		#{carport_id,jdbcType=NUMERIC},
		#{car_park_status,jdbcType=VARCHAR}
		)
	</insert>
<!-- 	停车场数据表删除车辆 -->
	<delete id="partDeleteCar"  parameterType="org.gzhz.park.bean.CarInfo" >
		delete from CAR_PARK_INFO_TB where
		CAR_PARK_LICENSE=#{car_park_license}
	</delete>
<!-- 	停车场数据表用车牌或车位查询车辆 -->	
	<select id="searchCar1" resultType="org.gzhz.park.bean.CarInfo">
		select * from CAR_PARK_INFO_TB 
	</select>
<!-- 使用嵌套查询，查询当前车场车辆信息 -->
	<select id="searchCar" parameterType="org.gzhz.park.bean.SearchPort"
		resultMap="carPortMap">
		select * from CAR_PARK_INFO_TB 
		<trim prefix="where" prefixOverrides="and">
			<if test="search_license!=null"> and CAR_PARK_LICENSE like '%${search_license}%'</if>
		   	<if test="search_carType!=null"> and CAR_PARK_TYPE = #{search_carType}</if>
			<if test="(search_date1!=null)and(search_date2!=null)"> and CAR_IN_TIME between  #{search_date1} and  #{search_date2}</if>
		</trim>  
	</select>
	
	<select id="selectCarPort" parameterType="java.lang.Integer"
		resultType="org.gzhz.park.bean.CarPort">
		select * from CARPORT_TB where CARPORT_ID =#{id}
	</select>
	<select id="selectCarType" parameterType="java.lang.Integer"
		resultType="org.gzhz.park.bean.CarType">
		select * from PARAMETER_TB where PARAMETER_ID =#{id}
	</select>

	<resultMap type="org.gzhz.park.bean.CarInfo" id="carPortMap">
		<association property="carport" column="CARPORT_ID"
			javaType="org.gzhz.park.bean.CarPort" select="selectCarPort">
		</association>
		<association property="cartype" column="PARAMETER_ID"
			javaType="org.gzhz.park.bean.CarType" select="selectCarType">
		</association>
	</resultMap>
<!-- 	车位数据表查询车位且关联参数表查询 -->	
	<select id="searchAllCarPort" parameterType="java.util.Map" resultType="org.gzhz.park.bean.CarPort"
	resultMap="carPortStatusMap">
		select * from CARPORT_TB 
		<trim prefix="where" prefixOverrides="and">
			<if test="carPortID!=null"> and CARPORT_NUM like '%${carPortID}%'</if>
			<if test="carPortArea!=null"> and CARPORT_AREA = #{carPortArea}</if>
		</trim>  
	</select>
	<select id="selectCarPortType" parameterType="java.lang.Integer"
		resultType="java.lang.String">
		select PARAMETER_NAME from PARAMETER_TB where PARAMETER_ID =#{id}
	</select>
	<resultMap type="org.gzhz.park.bean.CarPort" id="carPortStatusMap">
		<association property="carport_statusName" column="CARPORT_STATUS"
			javaType="java.lang.String" select="selectCarPortType">
		</association>
	</resultMap>
</mapper>