<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.gzhz.park.dao.ICarInfoDao">
<!-- 	文档上传界面的数据库插入数据部分开始 -->
	<insert id="partAddCar" parameterType="org.gzhz.park.bean.CarInfo" >
		<selectKey keyProperty="car_park_id" order="BEFORE" resultType="java.lang.Integer">
			select CAR_PARK_INFO_TB.nextval from dual
		</selectKey>
		insert into CAR_PARK_INFO_TB values(
		#{car_park_id},
		#{car_park_license,jdbcType=VARCHAR},
		#{car_in_time,jdbcType=VARCHAR},
		#{car_park_type,jdbcType=NUMERIC},
		#{carport_id,jdbcType=NUMERIC},
		#{car_park_status,jdbcType=VARCHAR}
		)
	</insert>
</mapper>