<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.gzhz.park.dao.ICarInfoDao">
<!-- 	停车场日志表加入车辆 -->
	<insert id="logAddCar" parameterType="org.gzhz.park.bean.CarInfo" >
		<selectKey keyProperty="car_park_id" order="BEFORE" resultType="java.lang.Integer">
			select SEQUENCE_CAR_LOG_TB.nextval from dual
		</selectKey>
		insert into CAR_PARK_INFO_TB values(
		#{car_log_id},
		#{car_park_license,jdbcType=VARCHAR},
		#{car_in_time,jdbcType=VARCHAR},
		#{car_out_time,jdbcType=VARCHAR},
		#{carport_id,jdbcType=NUMERIC},
		#{car_park_type,jdbcType=NUMERIC},
		#{emp_id,jdbcType=VARCHAR},
		#{car_money,jdbcType=NUMERIC},
		#{picture_url,jdbcType=VARCHAR}
		)
	</insert>

</mapper>