<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.gzhz.otherManage.dao.CarPortMapper">
	<!-- //查询计费规则套餐 -->


	<!-- <select id="findCarVipByName" parameterType="java.lang.String" -->
	<!-- resultMap="findcarportmap"> -->
	<!-- select * from CARPORT_TB -->
	<!-- <where> -->
	<!-- <if test="value!='' and value!=null"> -->
	<!-- and CARPORT_NUM like #{CARPORT_NUM} -->
	<!-- </if> -->
	<!-- </where> -->
	<!-- </select> -->

	<resultMap type="org.gzhz.otherManage.bean.CarportTb" id="carportmap">
		<id column="carport_id" property="carport_id" javaType="java.lang.Integer" />
		<result column="carport_area" property="carport_area" javaType="java.lang.String" />
		<result column="carport_num" property="carport_num" javaType="java.lang.String" />
		<result column="carport_status" property="carport_status"
			javaType="java.lang.Integer" />
		<result column="picture_url" property="picture_url" javaType="java.lang.String" />
		<!-- 多对一的关系 -->
		<!-- property: 指的是属性的值, javaType：指的是属性的类型 -->
		<association property="parameter_tb"  javaType="org.gzhz.otherManage.bean.Parameter_Tb">
			<id column="parameter_id" property="parameter_id" javaType="java.lang.Integer" />
			<result column="parameter_pid" property="parameter_pid"
				javaType="java.lang.Integer" />
			<result column="parameter_name" property="parameter_name"
				javaType="java.lang.String" />
		</association>
	</resultMap>


	<select id="findidBystatus" resultType="org.gzhz.otherManage.bean.Parameter_Tb">
		select * from
		PARAMETER_TB
		where parameter_id= #{parameter_id}
	</select>


	<select id="findCarportByName" parameterType="java.util.HashMap"
		resultMap="carportmap">
		select PARAMETER_TB.*, CARPORT_TB.* from CARPORT_TB, PARAMETER_TB  where
		CARPORT_TB.CARPORT_STATUS = PARAMETER_TB.parameter_id
		<if test="carport_num!='' and carport_num!=null">
			and CARPORT_NUM like #{carport_num}
		</if>
		<if test="carport_status!='' and carport_status!=null">
			and carport_status = #{carport_status}
		</if>
	</select>




	<!-- 添加计费规则 -->


	<!-- 批量增加 -->
	<insert id="insertcarport" parameterType="java.util.List">
	INSERT INTO CARPORT_TB
	(CARPORT_ID,CARPORT_AREA,CARPORT_NUM,CARPORT_STATUS,PICTURE_URL)
	SELECT
	SEQUENCE_CARPORT_TB.NEXTVAL meal_id, A.*
	FROM(
	<foreach collection="list" item="item" index="index"
	separator="UNION ALL">
	SELECT
	#{item.carport_area,jdbcType=VARCHAR} carport_area,
	#{item.carport_num,jdbcType=VARCHAR} carport_num,
	#{item.carport_status,jdbcType=INTEGER} carport_status,

	#{item.picture_url,jdbcType=VARCHAR} picture_url
	FROM dual
	</foreach>
	)A
	</insert>
	
	<!--  修改状态 -->
	<update id="updatcarportstatus" parameterType="org.gzhz.otherManage.bean.CarportTb">
	update CARPORT_TB
		set
		CARPORT_STATUS=#{carport_status}
		where
		CARPORT_ID =#{carport_id}
	
	</update>






</mapper>